<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
   
    <title>BotSom</title>
</head>
<body>

        <div class="simon">
            <div class="face"></div>
            <div class="head"></div>
            <div class="body"></div>
            <div class="left-arm"></div>
            <div class="right-arm"></div>
            <div class="right-eye"></div>
            <div class="left-eye"></div>
        </div>
           
        
<iframe
class="simon-bot"
allow="microphone;"
width="500"
height="600"
src="https://console.dialogflow.com/api-client/demo/embedded/dd578e30-1043-429c-b709-61d334db71ab">
</iframe>
  
        
        
        
       
    
</body>
</html>